In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
engine  = create_engine(f'sqlite:///{path_to_db}', echo = False)

In [4]:
query = """
WITH
aa as (SELECT *
FROM user as us
LEFT OUTER JOIN location as loc ON us.location_id=loc.location_id),

bb as (SELECT age_gr_id,
      title as age_segment
FROM age_segment), 

cc as (SELECT tr_gr_id,
      title as traffic_segment
FROM traffic_segment), 

dd as (SELECT lt_gr_id,
      title as lifetime_segment
FROM lifetime_segment)

SELECT user_id,
lt_day,
case when lt_day<=365 then 'new' else 'old' end is_new,
age,
gender_segment,
os_name,
cpe_type_name,
country,
city,
age_segment,
traffic_segment,
lifetime_segment,
nps_score,
case when nps_score<7 then 'критики' when nps_score>8 then 'cторонники' else 'нейтралы' end nps_group
FROM aa
LEFT OUTER JOIN bb  ON aa.age_gr_id = bb.age_gr_id
LEFT OUTER JOIN cc ON aa.tr_gr_id = cc.tr_gr_id
LEFT OUTER JOIN dd ON aa.lt_gr_id = dd.lt_gr_id
"""

In [5]:
df = pd.read_sql(query, engine)

In [6]:
df

,user_id,lt_day,is_new,age,gender_segment,os_name,cpe_type_name,country,city,age_segment,traffic_segment,lifetime_segment,nps_score,nps_group
0,A001A2,2320,old,45.0,1.0,ANDROID,SMARTPHONE,Россия,Уфа,05 45-54,04 1-5,08 36+,10,cторонники
1,A001WF,2344,old,53.0,0.0,ANDROID,SMARTPHONE,Россия,Киров,05 45-54,04 1-5,08 36+,10,cторонники
2,A003Q7,467,old,57.0,0.0,ANDROID,SMARTPHONE,Россия,Москва,06 55-64,08 20-25,06 13-24,10,cторонники
3,A004TB,4190,old,44.0,1.0,IOS,SMARTPHONE,Россия,РостовнаДону,04 35-44,03 0.1-1,08 36+,10,cторонники
4,A004XT,1163,old,24.0,0.0,ANDROID,SMARTPHONE,Россия,Рязань,02 16-24,05 5-10,08 36+,10,cторонники
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502488,ZZZKLD,1249,old,54.0,1.0,ANDROID,SMARTPHONE,Россия,Москва,05 45-54,04 1-5,08 36+,5,критики
502489,ZZZLWY,129,new,31.0,0.0,ANDROID,SMARTPHONE,Россия,Москва,03 25-34,04 1-5,04 4-6,8,нейтралы
502490,ZZZQ5F,522,old,36.0,0.0,ANDROID,SMARTPHONE,Россия,Сургут,04 35-44,09 25-30,06 13-24,10,cторонники
502491,ZZZQ8E,2936,old,37.0,1.0,ANDROID,SMARTPHONE,Россия,УланУдэ,04 35-44,17 65-70,08 36+,9,cторонники
502492,ZZZYH0,2471,old,37.0,0.0,IOS,SMARTPHONE,Россия,Самара,04 35-44,06 10-15,08 36+,2,критики

### Укажите ссылку на дашборд на сайте Tableau Public:

https://public.tableau.com/views/Book1_16572218482860/Dashboard1?:language=en-US&publish=yes&:display_count=n&:origin=viz_share_link

https://public.tableau.com/views/Book2_16572218784300/Dashboard3?:language=en-US&publish=yes&:display_count=n&:origin=viz_share_link

### Укажите ссылку на pdf-файл с презентацией:

https://disk.yandex.ru/i/3Z_nHM0vcI_FJg